<ion-view view-title="DriveSafer">
  <ion-content>
    <h1 class="center">Ecran principal</h1>
    <div class="row">
      <div class="col">
        <button id="btn_danger" class="button button-block" style="background-color: #cf2a27; color: #fff;" ng-click="btnCategory($event)">
          DANGER
        </button>
        <button id="btn_back" class="button button-block button-dark icon-left ion-chevron-left" ng-click="btnBack()">Retour</button>
      </div>
      <div class="col">
        <button id="btn_comportement" class="button button-block" style="background-color: #ff9900; color: #fff;" ng-click="btnCategory($event)">
          COMPORTEMENT
        </button>
        <div id="btn_clicked"></div>
      </div>
      <div class="col">
        <button id="btn_anomalie" class="button button-block" style="background-color: #f1c232; color: #fff;" ng-click="btnCategory($event)">
          ANOMALIE
        </button>
      </div>
    </div>

    <!-- DANGER -->
    <div id="subcategory_danger" class="row">
      <div class="col">
        <button id="btn_accident" class="button button-block" style="background-color: #cf2a27; color: #fff;" ng-click="btnSubCategory($event)">
          ACCIDENT
        </button>
      </div>
      <div class="col">
        <button id="btn_chaussee" class="button button-block" style="background-color: #cf2a27; color: #fff;" ng-click="btnSubCategory($event)">
          CHAUSSEE
        </button>
      </div>
      <div class="col">
        <button id="btn_vigilance" class="button button-block" style="background-color: #cf2a27; color: #fff;" ng-click="btnSubCategory($event)">
          VIGILANCE
        </button>
      </div>
    </div>

    <!-- COMPORTEMENT -->
    <div id="subcategory_comportement" class="row">
      <div class="col">
        <button id="btn_vitesse" class="button button-block" style="background-color: #ff9900; color: #fff;" ng-click="btnSubCategory($event)">
          VITESSE
        </button>
      </div>
      <div class="col">
        <button id="btn_distance" class="button button-block" style="background-color: #ff9900; color: #fff;" ng-click="btnSubCategory($event)">
          DISTANCE SECU
        </button>
      </div>
      <div class="col">
        <button id="btn_conduite" class="button button-block" style="background-color: #ff9900; color: #fff;" ng-click="btnSubCategory($event)">
          CONDUITE
        </button>
      </div>
    </div>

    <!--  ANOMALIE -->
    <div id="subcategory_anomalie" class="row">
      <div class="col">
        <button id="btn_eclairage" class="button button-block" style="background-color: #f1c232; color: #fff;" ng-click="btnSubCategory($event)">
          ECLAIRAGE
        </button>
      </div>
      <div class="col">
        <button id="btn_carrosserie" class="button button-block" style="background-color: #f1c232; color: #fff;" ng-click="btnSubCategory($event)">
          CARROSSERIE
        </button>
      </div>
      <div class="col">
        <button id="btn_pneumatique" class="button button-block" style="background-color: #f1c232; color: #fff;" ng-click="btnSubCategory($event)">
          PNEU
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
