<ion-view view-title="DriveSafer">
  <ion-content>
    <div class="row">
      <div class="col">
        <button id="btn_danger" class="button" style="background-color: #cf2a27; color: #fff;" ng-click="btnCategory($event)">
          <img ng-src="img/danger.png" alt="">
          <p>DANGER</p>
        </button>
        <button id="btn_back" class="button button-back button-dark icon-left ion-chevron-left" ng-click="btnBack()">Retour ({{countdownCat}})</button>
      </div>
      <div class="col">
        <button id="btn_comportement" class="button" style="background-color: #ff9900; color: #fff;" ng-click="btnCategory($event)">
          <img ng-src="img/comportement.png" alt="">
          <p>COMPORTEMENT</p>
        </button>
        <div id="btn_clicked"></div>
      </div>
      <div class="col">
        <button id="btn_anomalie" class="button" style="background-color: #f1c232; color: #fff;" ng-click="btnCategory($event)">
          <img ng-src="img/anomalie.png" alt="">
          <p>ANOMALIE</p>
        </button>
      </div>
    </div>

    <!-- DANGER -->
    <div id="subcategory_danger" class="row">
      <div class="col">
        <button id="btn_accident" class="button" style="background-color: #cf2a27; color: #fff;" ng-click="btnSubCategory($event)">
          <img ng-src="img/accident.png" alt="">
          <p>ACCIDENT</p>
        </button>
      </div>
      <div class="col">
        <button id="btn_chaussee" class="button" style="background-color: #cf2a27; color: #fff;" ng-click="btnSubCategory($event)">
          <img ng-src="img/route.png" alt="">
          <p>CHAUSSEE</p>
        </button>
      </div>
      <div class="col">
        <button id="btn_vigilance" class="button" style="background-color: #cf2a27; color: #fff;" ng-click="btnSubCategory($event)">
          <img ng-src="img/signalisation.png" alt="">
          <p>VIGILANCE</p>
        </button>
      </div>
    </div>

    <!-- COMPORTEMENT -->
    <div id="subcategory_comportement" class="row">
      <div class="col">
        <button id="btn_vitesse" class="button" style="background-color: #ff9900; color: #fff;" ng-click="btnSubCategory($event)">
          <img ng-src="img/vitesse.png" alt="">
          <p>VITESSE</p>
        </button>
      </div>
      <div class="col">
        <button id="btn_distance" class="button" style="background-color: #ff9900; color: #fff;" ng-click="btnSubCategory($event)">
          <img ng-src="img/route.png" alt="">
          <p>DISTANCE SECU</p>
        </button>
      </div>
      <div class="col">
        <button id="btn_conduite" class="button" style="background-color: #ff9900; color: #fff;" ng-click="btnSubCategory($event)">
          <img ng-src="img/conduite.png" alt="">
          <p>CONDUITE</p>
        </button>
      </div>
    </div>

    <!--  ANOMALIE -->
    <div id="subcategory_anomalie" class="row">
      <div class="col">
        <button id="btn_eclairage" class="button" style="background-color: #f1c232; color: #fff;" ng-click="btnSubCategory($event)">
          <img ng-src="img/eclairage.png" alt="">
          <p>ECLAIRAGE</p>
        </button>
      </div>
      <div class="col">
        <button id="btn_carrosserie" class="button" style="background-color: #f1c232; color: #fff;" ng-click="btnSubCategory($event)">
          <img ng-src="img/carrosserie.png" alt="">
          <p>CARROSSERIE</p>
        </button>
      </div>
      <div class="col">
        <button id="btn_pneumatique" class="button" style="background-color: #f1c232; color: #fff;" ng-click="btnSubCategory($event)">
          <img ng-src="img/pneu.png" alt="">
          <p>PNEU</p>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
