<div class="modal">
  <ion-modal-view style="background-color: #FF5454;">
    <ion-header-bar class="bar bar-header bar-positive">
      <button class="button button-clear button-primary" ng-click="modal.hide()">OK</button>
    </ion-header-bar>
    <ion-content>
      <div class="row">
        <div class="col">
          <h1 style="text-align: center; color: #FFF;">{{category}}</h1>
          <h1 style="text-align: center; color: #FFF;">{{sub_category}}</h1>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</div>
