<ion-view view-title="Paramètres">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        Volume des alertes sonores (Danger uniquement)
      </div>
      <div class="item range range-positive">
        <i class="icon ion-volume-low"></i>
        <input type="range" name="volume">
        <i class="icon ion-volume-high"></i>
      </div>
    </div>
    <div class="item item-divider">
      Distance des alertes reçues
    </div>
    <div class="item range range-positive">
      <i class="icon ion-ios-location"></i>
      <input type="range" name="distance" min="1" max="10" value="3">
    </div>
  </ion-content>
</ion-view>
